/* Nav bar styles started */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  height: 45px;
  z-index: 3;
  display: block;
  height: 100px;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.inner-header > a > img {
  width: 84px;
  height: 40px;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}
.menu-header nav {
  width: 100%;
  height: 100%;
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
  overflow: visible;
}
.nav-item {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  text-align: left;
  border-bottom: 0;
}
.nav-item-dropdown .nav-link {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.nav-item-dropdown:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  bottom: -25px;
  z-index: 1;
  cursor: pointer;
}
.nav-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 600;
  padding: 5px 0;
  text-decoration: none;
}
.nav-link-arrow::before {
  content: "";
  display: inline-block;
  border-top: 5px solid currentColor;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  margin: 0 0 0 10px;
}
.nav-item-dropdown:hover .nav-link-arrow::before {
  transform: rotateZ(-180deg);
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  background: transparent;
  color: #fd3a5c;
}
.nav-item-dropdown:hover .nav-link {
  color: #fd3a5c;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.nav-link-alt-one {
  background-color: #fd3a5c;
  border-color: #fd3a5c;
  color: #fff;
  line-height: normal;
  border-radius: 19px;
  min-width: 130px;
  height: 40px;
  padding: 10px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  margin-left: 25px;
  font-size: 13px;
}
.nav-link-alt-one:hover,
.nav-link-alt-one:active,
.nav-link-alt-one:focus {
  background: #da2e4c;
  color: white;
}
.nav-link-alt-two:hover,
.nav-link-alt-two:active,
.nav-link-alt-two:focus {
  border-color: #666;
  color: #595959;
  background-color: transparent;
}

.nav-link-alt-two {
  background-color: transparent;
  line-height: normal;
  border-radius: 19px;
  min-width: 130px;
  height: 40px;
  padding: 10px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b3b3b3;
  color: #666;
  transition: color 0.3s ease-out, border-color 0.3s ease-out;
  cursor: pointer;
  margin-left: 20px;
  font-size: 13px;
}
.sub-menu {
  display: none;
  padding: 16px;
  width: 670px;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  background: #fff;
  position: absolute;
  top: 100%;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  margin-top: 20px;
  left: -300px;
  margin-left: 70px;
  border-radius: 8px;
}

.nav-item-dropdown:hover .sub-menu {
  display: flex;
  flex-wrap: wrap;
  display: grid;
}
.submenu-link {
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
  padding: 8px 8px 8px 16px;
  color: #3c3c3c;
  background-color: #fff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}
.submenu-icon {
  display: inline-block;
  margin-right: 15px;
  fill: currentColor;
}
.submenu-text {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 14px;
}
.submenu-subtitle {
  opacity: 0.7;
  font-size: 12px;
}

.submenu-footer {
  padding: 0px;
  grid-column: 1 / span 2;
  border-top: 1px solid rgba(201, 201, 201, 0.3);
}

a:active,
a:hover {
  outline-width: 0;
}

.singleColumn {
  width: 350px;
  left: -125px;
  grid-template-columns: 1fr;
}

.sub-menu .singleColumn > li {
  flex-basis: 100%;
}

.submenu-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 15px;
  fill: currentColor;
}

.submenu-link:hover,
.submenu-link:active,
.submenu-link:focus {
  border: 0;
  background-color: #f9f9f9;
  color: #fd3a5c;
}

/* Nav bar styles ended */
body {
  font-family: "Open Sans", sans-serif, Tahoma;
}

#caseDiv {
  background-color: #f7f8fa;
  height: 400px;
  padding-top: 9.5%;
}

#caseDiv > h2 {
  text-align: center;

  font-weight: bolder;
  font-family: "Open Sans", sans-serif, Tahoma;
  color: #f4364c;
  font-size: 18px;
}

#caseDiv > h1 {
  font-size: 250%;
  text-align: center;
  font-weight: 600;
  color: #333b40;
  font-family: "Merriweather", serif;
}
.txt > div:nth-child(1) {
  font-size: 22px !important;
}

#caseDiv > div {
  line-height: 130%;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-size: 15px;
  font-weight: 400;
  color: #333b40;
  text-align: center;
}

.card_on_middle {
  background-color: white;
  box-shadow: 0.4px 1.5px 2px 1px rgb(148, 148, 148);
}

@media screen and (max-width: 600px) {
  #caseDiv > div {
    line-height: 130%;
    font-size: 100%;
    text-align: center;
  }

  #caseDiv > .div-02 {
    margin-bottom: 35px;
  }
  #caseDiv {
    height: 300px;
    margin-top: 100px;
  }

  #caseDiv > h1 {
    font-size: 200%;
    text-align: center;
    color: rgba(3, 3, 3, 0.747);
  }

  #caseDiv > h2 {
    text-align: center;
    color: #fd3a5c;
    font-size: 120%;
  }

  #companyDiv {
    padding: 27px;
  }

  #company {
    width: 100%;
    height: 490px;

    border: 2px solid lightgray;

    box-shadow: 2px 2px 2px 2px rgba(167, 167, 170, 0.2);
    transition: box-shadow 0.1s, transform 0.1s;

    margin-bottom: 45px;
  }

  #company > div:nth-child(1) {
    height: 250px;
  }

  #company > div > img {
    width: 92%;
    height: 150px;
    margin-top: 11%;
    margin-left: 5%;
  }

  #company > .txt {
    margin-top: 8%;
    margin-left: 8%;
  }

  #company > .txt > div:nth-child(1) {
    text-decoration: underline;
    text-decoration-thickness: 1.6px;
    font-size: 23px;
  }

  #company > .txt > div:nth-child(2) {
    margin-top: 3%;
    width: 95%;
    line-height: 130%;
  }

  #company:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  /* miiddle-card */
  .img3 > img {
    width: 80px;
    margin: 7% auto 3.5%;
    border-radius: 100%;
  }

  #middle_card {
    background-color: #f7f8fa;
    height: 420px;
    border: 0.01px solid white;
  }

  #middle_card > .card_on_middle {
    background-color: white;
    height: 308px;
    width: 87%;
    margin: 10% auto;
    text-align: center;
  }

  #middle_card > div > div {
    display: flex;
    flex-direction: column-reverse;
  }

  .card_on_middle > div:nth-child(2) {
    width: 90%;
    margin: auto;
  }

  .down-txt {
    margin-top: 4.5%;
  }

  .down-txt > div:nth-child(2) > img {
    width: 25%;
  }

  .down-txt > div > h4 {
    font-size: 17px;
  }

  .down-txt > div > p {
    margin-top: -4.5%;
    font-size: 16px;
  }

  #companyDiv > .cp-Gap {
    margin-top: 65px;
  }

  #companyDiv > .cp-gap-bottom {
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 600px) {
  #caseDiv {
    height: 330px;
    margin-top: 60px;
  }
  #companyDiv {
    width: 96.85%;
    display: flex;
    flex-wrap: wrap;
    padding: 64px 2%;
  }
  #company {
    border: 2px solid lightgray;

    box-shadow: 2px 2px 2px 2px rgba(167, 167, 170, 0.2);
    transition: box-shadow 0.1s, transform 0.1s;

    margin: auto;
    height: 450px;
    width: 46%;
    margin-bottom: 40px;
  }
  #company > div > img {
    width: 90%;
    height: 170px;
    margin-top: 10%;
    margin-left: 5%;
  }

  #company > .txt {
    margin-top: 9%;
    margin-left: 8%;
  }

  #company > .txt > div:nth-child(1) {
    text-decoration: underline;
    text-decoration-thickness: 1.6px;
    font-size: 23px;
  }

  #company > .txt > div:nth-child(2) {
    margin-top: 3%;
    width: 95%;
    line-height: 130%;
  }

  #company:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  /* middle-card */

  #middle_card {
    background-color: #f7f8fa;
    height: 270px;
    border: 0.01px solid white;
  }

  .card_on_middle {
    background-color: white;
    height: 150px;
    width: 87%;
    margin: 6.6% auto;
    text-align: center;
  }
  .card_on_middle {
    display: flex;
    flex-wrap: wrap;
  }

  .card_on_middle > div:nth-child(2) {
    height: 30%;
    margin-top: 4%;
  }
  .down-txt {
    margin-left: 16%;
    height: 39%;
    width: 80%;
    display: flex;
    margin-top: -8%;
  }
  .down-txt > div > p {
    width: 100%;
    margin-left: 5%;
    margin-top: -15%;
  }
  .down-txt > div > h4 {
    width: 60%;
    line-height: 135%;
  }
  .img3 {
    width: 10%;
    height: 60%;
    margin: 3% 3%;
  }
  .img3 > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .down-txt > div > img {
    width: 40%;
    margin-top: 4%;
    margin-left: 83%;
  }
  .upper-txt {
    width: 73%;
  }
}

@media screen and (min-width: 1000px) {
  #caseDiv {
    height: 395px;
    margin-top: 10px;
  }

  #companyDiv {
    width: 76%;
    margin: auto;
  }
  #company {
    margin: 0.5% 1% 3.3%;
    height: 400px;
    width: 30.9%;
  }
  #company > div:nth-child(1) {
    height: 42%;
  }
  #company > div:nth-child(1) > img {
    height: 71%;
  }

  /* middle card */

  #middle_card {
    background-color: #f7f8fa;
    height: 270px;
    border: 0.01px solid white;
  }

  .card_on_middle {
    background-color: white;
    height: 156px;
    width: 43.5%;
    margin: 4.1% auto;
  }

  /* new */

  .card_on_middle > div:nth-child(2) {
    height: 30%;
    width: 75%;
    margin-top: -17%;
    margin-left: 20%;

    text-align: start;
  }
  .down-txt {
    margin-left: 19%;
    height: 39%;
    width: 80%;
    display: flex;
    margin-top: -10%;
  }
  .down-txt > div > p {
    width: 110%;
    margin-left: 0%;
    margin-top: -14%;
  }
  .down-txt > div > h4 {
    width: 60%;
    line-height: 135%;
  }
  .img3 {
    width: 13%;
    height: 58%;
    margin: 3.8% 4%;
  }
  .img3 > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .down-txt > div > img {
    width: 40%;
    margin-top: 4%;
    margin-left: 40%;
  }
  .upper-txt {
    width: 73%;
  }
}

/* footer css Start*/

.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #f9f9f9;
}
.footer-wrap {
  max-width: 1240px;
  margin: 0 auto;
}
.inner-container {
  max-width: 1200px;
  width: 94%;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.footer-nav {
  width: 100%;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 50px;
}

.footer-item {
  font-size: 14px;
}

.footer-title {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  line-height: 21.75px;
  margin-bottom: 20px;
}

.footer-subnav {
  width: 170px;
}

.subnav-item {
  margin-bottom: 8px;
  line-height: 22px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  color: #3c3c3c;
}

.subnav-item-link {
  color: #3c3c3c;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  width: 64px;
  height: 30px;
}

.footer-copyright {
  font-size: 0.66667rem;
  text-align: center;
}

.facebook {
  margin-right: 20px;
  width: 23px;
  height: 25px;
}

.twitter {
  width: 23px;
  height: 25px;
}

/* footer css End */

/* Feeback tag styles  started */

.feedback-container {
  top: 377px;
  right: 0px;
  position: fixed;
  transform: translateY(-50%);
  display: block;
}

.feedback {
  font-size: 13px;
  position: relative;
  border: none;
  padding: 12px 14px 12px 12px;
  cursor: pointer;
  background-color: #f4364c;
  border-radius: 3px 0 0 3px;
  width: 40px;
  display: flex;
  flex-direction: column;
}
.feedback-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: white;
  font-weight: normal;
}

.feedback-img {
  margin: 10px 0 0 0;
  width: 19px;
  height: 22px;
}

.feedback:hover {
  transform: translateX(0);
  box-shadow: 0 0 35px 2px rgb(0 0 0 / 24%);
  opacity: 1;
  width: 42px;
}
/* Feeback tag styles ended */
