body {
  margin: 0px;
  overflow-x: hidden;
  color: #333;
}

h4,
h1,
h3,
p {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

#caseDiv {
  background-color: #f7f8fa;
  height: 400px;
  padding-top: 150px;
}

#caseDiv > h2 {
  text-align: center;

  font-weight: bolder;
  font-family: "Open Sans", sans-serif, Tahoma;
  color: #f4364c;
  font-size: 18px;
}

#caseDiv > h1 {
  font-size: 250%;
  text-align: center;
  font-weight: 600;
  color: #333b40;
  font-family: "Merriweather", serif;
}
.txt > div:nth-child(1) {
  font-size: 22px !important;
}

#caseDiv > div {
  line-height: 130%;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-size: 15px;
  font-weight: 400;
  color: #333b40;
  text-align: center;
}

#caseDiv > .only-for-large-screen {
  margin-top: 3%;
}

.card_on_middle {
  background-color: white;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 10%);
}

#company {
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 10%);
  border-radius: 3px !important;
  border-style: solid;
  border-width: 1px;

  border-color: #ccc;
  transition: box-shadow 0.3s ease-out;
}

.txt {
  width: 100%;
  border-style: solid;
  border-top-width: 1px !important;
  border-width: 0px;
  border-color: #ccc;
  padding: 40px !important;
}

.txt h3 {
  font-family: "Open Sans", sans-serif;
  display: inline;
  border-bottom: 1px solid #333b40;
  font-weight: 600 !important;
  font-size: 22px !important;
  color: #333b40;
}

.txt > div {
  margin-top: 12px;
  font-size: 15px;
  line-height: 1.45em;
  color: #333b40;
}

#company > div:nth-child(1) > img {
  max-width: 90%;
  height: auto;
  max-height: 100%;
}

#company > div:nth-child(1) {
  height: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#middle_card {
  background-color: #f7f8fa;

  text-align: left;
  margin: auto;
  vertical-align: top;
  width: 100%;
  padding: 80px;
}

.card_on_middle {
  width: 48%;
  margin: auto;
}

.content-wrap {
  background: #ffffff;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  padding: 20px;
}

.quote {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  color: #333b40;
  font-size: 15px !important;
}

.down-txt {
  display: flex;
  justify-content: space-between;
  font-size: 14px !important;
  max-height: 100%;
  padding-top: 24px;
}

.down-txt > div:nth-child(2) > img {
  width: 50%;
  margin-left: 30px;
}
.down-txt > div:nth-child(1) {
  width: 60%;
}
.img3 {
  width: 30%;
}

.img3 > img {
  width: 80px;
  height: 80px;
  max-width: 100%;
  border-radius: 100%;
}

#company:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#caseDiv {
  height: 395px;
  margin-top: 10px;
}

#companyDiv {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 60px;
}
#company {
  margin: 0.5% 1% 3.3%;
  height: 400px;
  width: 31.2%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  #companyDiv {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #company {
    width: 45%;
    margin: 0px;

    margin: 2.5%;
  }
  .card_on_middle {
    width: 100%;
  }

  .txt {
    margin-bottom: 40px;
  }

  #caseDiv {
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  #caseDiv > div {
    line-height: 130%;
    font-size: 100%;
    text-align: center;
  }

  #caseDiv > .div-02 {
    margin-bottom: 35px;
  }
  #caseDiv {
    height: 400px;
    margin-top: 100px;
  }

  #caseDiv > h1 {
    font-size: 200%;
    text-align: center;
    color: rgba(3, 3, 3, 0.747);
  }

  #caseDiv > h2 {
    text-align: center;
    color: #fd3a5c;
    font-size: 120%;
  }

  #companyDiv {
    padding: 27px;
  }

  #company {
    width: 100%;
    height: 490px;
    margin-bottom: 40px;
  }

  #company > div:nth-child(1) {
    height: 250px;
  }

  .content-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .down-txt {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card_on_middle {
    width: 100%;
  }

  .down-txt > div:nth-child(2) > img {
    width: 40%;
    margin-left: 0px;
    margin-bottom: 14px;
  }

  #caseDiv {
    margin-top: 0px;
  }
}
