body {
  display: block;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #3c3c3c;
  overflow-x: hidden !important;
  line-height: 2;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.top-bar {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background: rgba(23, 204, 189, 0.08);
  border-top: 1px solid rgba(23, 204, 189, 0.21);
  border-bottom: 1px solid rgba(23, 204, 189, 0.21);
  font-size: 12px;
  font-weight: 600;
}

.top-bar > ul {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 40px;
}

.top-bar li {
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.check-mark {
  display: inline-block;
  width: 15px;
  height: 1em;
  margin-right: 5px;
}
.header-text {
  margin-bottom: 32px;
  padding-top: 76px;
  text-align: center;
  width: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;

  color: #3c3c3c;
}

.H1text {
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 700;
  color: #3c3c3c;
  margin-bottom: 12px;
}

h1,
p {
  margin: 0px;
  padding: 0px;
  line-height: normal;
}
.highlight-word {
  display: inline-block;
  position: relative;
  z-index: 0;
  font-family: "Merriweather", serif;
}
.highlight-word:before {
  content: "";
  background: url(https://static-cms.hotjar.com/original_images/text-highlight.png)
    no-repeat center center;
  background-size: 100% 60px;
  width: 108%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  transform: translate(-3%, 0);
}
.Ptext {
  font-size: 24px;
  margin-top: 30px;
  line-height: normal;
  text-align: center;
}

.Ptext > div {
  width: 100%;
}

.sign-btn {
  margin: 0px auto;
  padding: 0;
}

.sign-btn > div {
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.signup-btn {
  display: inline-flex;
  align-items: center;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid;
  height: 60px;
  margin: 10px 20px;
  margin-bottom: 16px;
}
.google {
  background-color: #5284ed;
  border-color: #5284ed;
  color: #fff;
  transition: background-color 0.25s ease;
}

.google:hover,
.google:active,
.google:focus {
  background-color: #3367d6;
  border-color: #3367d6;
}

.email {
  justify-content: center;
  padding: 0 30px;
  border-color: #666 !important;
  color: #242424;
  transition: border-color 0.25s ease;
}
.email:hover,
.email:active,
.email:focus {
  border-color: #141414;
  color: #141414;
}
.google-logo {
  background: #fff;
  border-radius: 100px;
  width: 37px;
  height: 36px;
  border: 10px solid #fff;
  box-sizing: content-box;
  display: inline-block;
}

.google .google-text {
  flex-grow: 1;
  text-align: center;
  padding: 0 30px 0 20px;
}

.credit-card {
  width: 240px;
  display: inline-block;
  margin: 16px 0 0;
  font-size: 12px;
  font-weight: 500;
  color: #9a9a9a;
  text-align: center;
}

.img-slide {
  display: none;
}

.mid-Content {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 70px;
  flex-wrap: nowrap;
}

.slideImage {
  width: 100%;
  max-width: 1080px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #c5c5c5;
}

.menu-switch {
  width: 280px;
  margin-left: 50px;
}
.menu-switch-mid-screen {
  display: none;
}

.tour-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #3c3c3c;
  margin-top: 40px;
  margin-bottom: 15px;
}
.tour-title-hidden {
  display: none;
  font-size: 24px;
  text-align: center;
}
.section-label {
  margin-top: 36px;
  font-weight: 700;
  color: #c5c5c5;
  font-size: 16px;
}

.menu-item {
  display: flex;
  height: 28px;
  color: #c5c5c5;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  margin-top: 24px;
}

.menu-icon {
  /* height: 27px; */
  margin-right: 29px;
}

.menu-icon > img {
  width: 30px;
}

.learn-more {
  margin: 41px auto 0;
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item {
  padding: 12px 17px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: 12px;
  color: black;
  line-height: 2;
}
.list-item > p {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5px;
}

.list-item > span {
  font-weight: bold;
}
.list-item:hover,
.list-item:hover p {
  background-color: #f6f6f6;
  color: #f4364c;
}

.productSlider {
  width: 100%;
  font-size: 15px;
  position: relative;
}

.arrow {
  width: 14px;
  height: 10px;
  vertical-align: middle;
  margin-left: 5px;
}

.brand-wrap {
  margin-top: 58px;
  width: 100%;
}
.logo-text {
  font-size: 24px;
  font-weight: 600;
  color: #c5c5c5;
  text-align: center;
  margin-bottom: 30px;
  display: block;
}

.gdr-banner {
  width: 100%;
  min-height: 220px;
  margin-top: 100px;
  background-color: #f9f9f9;
  border-radius: 10px;
  font-size: 18px;
  color: #3c3c3c;
  padding: 21px 40px 19px;
  box-sizing: border-box;
}

.banner-content {
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: block;
}

.content-icon {
  float: right;
  text-align: center;
}

.content-icon > span {
  position: relative;
  display: block;
}

.content-icon > span {
  position: relative;
  display: block;
}

.content-button {
  width: 90px;
  height: 23px;
  margin-top: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fd385b;
  box-sizing: border-box;
  font-size: 12px;
}

.gdr-icon {
  margin-right: 80px;
}

.content-text {
  padding-top: 40px;
  font-size: 18px;
  color: #3c3c3c;
  font-family: "Open Sans", sans-serif;
}

.content-text > h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
  font-family: "Merriweather", "serif";
}

.content-text > h4 > a {
  color: inherit;
}
.case-study {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.case-study-div {
  width: auto;
  max-width: 250px;
  margin-left: 50px;
}

.sectionH2 {
  margin-bottom: 60px;
  font-family: "Open Sans", sans-serif !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  color: #3c3c3c;
  padding-right: 30px;
  line-height: normal;
}

.platform-header {
  margin-top: 90px;
}

.platforms-img {
  height: auto;
  max-width: 100%;
}

.case-study-boxes {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.case-study-box {
  width: 32.25%;
  min-height: 450px;
  padding: 23px 25px 20px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal !important;
  font-weight: normal !important;
}

.case-study-box > img {
  margin-bottom: 24px;
  height: auto;
  max-width: 100%;
}

.case-study-box h2 {
  font-weight: normal !important;
  font-size: 24px;
  margin-top: 60px;
}
.case-study-box p {
  font-size: 16px;
}
.case-study-button {
  height: 23px;
  margin: 41px auto 0;
  padding-bottom: 4px;
  border-bottom: 1px solid #fd385b;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.case-study-button > a {
  color: #3c3c3c;
}

.case-study-button:hover a >img{
  margin-left: 8px;
  
}

/* .case-study-button:hover a > span{
  margin-right: 8px;
} */

.case-study-button > a > img{
  margin-left: 5px;
  transition: margin-left 100ms ease-in-out;
}

.platforms-img {
  text-align: center;
  width: 880px;
  margin: 0 auto;
}

.get-started {
  margin-top: 100px;
  text-align: center;
}

.get-started > img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 30px;
}

.try-btn .btn {
  display: inline-block;
  width: 240px;
  padding: 13.5px 44px;
  background-color: #fd385b;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

.try-btn .btn:hover,
.try-btn .btn:active,
.try-btn .btn:focus {
  background-color: #da2e4c;
}

.get-started-wrap {
  text-align: center;
}

.get-started-wrap > h2 {
  margin-bottom: 30px;
  font-family: "Merriweather", serif;
  font-size: 36px;
}

.video-slider {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}
.testimonials-div {
  display: block;
  width: 100%;
  margin-top: 140px;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  height: 460px;
  position: relative;
}

.testimonials-div-hide {
  display: none;
}

.testimonial-slide {
  padding: 22px;
}

.testimonial-play-button {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  width: 70px;
  height: 70px;
  background-image: url(https://static-cms.hotjar.com/documents/video-play-button_DSlQJ3q.svg);
  background-size: 70px;
  cursor: pointer;
  display: block;
  outline: none;
  position: absolute;
  z-index: 1;
}

.video-details {
  width: calc(50%);
  height: 90%;
  left: 20px;
  padding: 51px 66px 58px;
}

.video-details-mid-screen {
  width: 100%;
  color: #141414;
  text-align: center;
  display: none;
}

.video-details-mid-screen-hide {
  display: none !important;
}

.quote {
  font-size: 24px;
  height: 220px;
}

.video-title {
  text-transform: none;
  color: #fff;
  line-height: normal;
  margin-top: 27px;
}

.video-title h6,
.video-title-mid-screen h6 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.testimonial-image {
  width: auto;
  height: 30px;
  margin-top: 30px;
  filter: brightness(100);
}

.sliders > li {
  width: 67px;
  height: 56px;
  display: inline-block;
  margin: 0 0 0 21px;
  cursor: pointer;
}

.sliders li button {
  cursor: pointer;
  width: 67px;
  height: 5px;

  background-color: #e1e1e1;
  margin-top: 40px;
  border: 0px;
}

.slider-button-active {
  background-color: red !important;
}

/* Nav small screen */

.menu-title:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* Video Dialog */

.video-dialog {
  background-color: rgb(54, 54, 54, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  display: none;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -25px;
  padding: 0;
  padding-left: 20px;
  margin: 0;

  display: none;
  cursor: pointer;
}

.video-player-container {
  height: 500px;
  width: 75%;
  background: black;
  position: relative;
  margin-top: 500px;
  /* border: white solid 2px; */
}

.video-player-container:hover .close-button {
  display: block;
}

.close-button:hover {
  display: block;
}

.video-controls {
  position: absolute;
  bottom: 0;
  background-color: rgba(42, 145, 205, 0.849);

  width: 100%;
  height: 40px;
  display: flex;

  /* display: flex; */
}

/* .hide-controls {
  display: none;
} */

.video {
  height: 100%;
  width: 100%;
}

#video-play-button {
  background: transparent;
  height: 30px;
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

#video-play-button img {
  width: 20px;
  max-width: 100%;
  filter: brightness(0) invert(1);
}

.volume img{
  width: 20px;
  max-width: 100%;
  margin: 5px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.close-button img {
  max-width: 100%;

  width: 20px;
}

.video-porgress-bar {
  margin: 5px;
  height: 30px;
  width: 86%;
  display: flex;
  align-items: center;
}

.video-progress {
  height: 2px;
  background-color: rgba(240, 234, 234, 0.829);
  width: 100%;
  position: relative;
}

.video-progress-main {
  height: 2px;
  background-color: white;
  width: 0%;
}

.video-progress-dragger {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: white;
  top: -3px;
  border-radius: 50%;
  left: 0%;
}

@media screen and (max-width: 980px) {
  .tour-title {
    display: none;
  }

  .tour-title-hidden {
    display: block;

    margin-top: 50px;
    text-align: center;
    font-size: 24px !important;
    font-weight: 700;
    color: #3c3c3c;
  }
  .mid-Content {
    margin-top: 0px;
  }
  .slideImage {
    max-width: 100%;
  }
  .prod-img-switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-switch {
    width: 220px;
  }
}

@media screen and (max-width: 768px) {
  .top-bar {
    display: none;
  }

  .H1text {
    font-size: 42px;
    width: 90%;
    margin: auto;
  }

  .header-text {
    padding-top: 18px;
    text-align: center;
  }

  .Ptext {
    font-size: 20px;
  }

  .slideInner {
    height: 210px !important;
  }

  .logos-image img {
    src: url("https://static-cms.hotjar.com/documents/social-proof-company-logos-mobile.svg");
  }

  .case-study-box {
    font-size: 15px;
  }
  .sectionH2 {
    padding: 0px;
    margin: 0px;
    width: auto;
    margin-bottom: 15px;
    max-width: 65%;
    text-align: center;
  }
  .content-text {
    padding: 0px;
  }
  .content-text > h4 > a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #fd385b;
  }
  .video-slider {
    width: 100%;
  }

  .case-study-box h2 {
    line-height: normal;
    font-weight: normal;
    margin-top: 60px;
  }

  .case-study-box > img {
    margin-bottom: 24px;
  }

  .platform-header .sectionH2 {
    margin: 0px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .get-started-wrap .sectionH2 {
    max-width: 100%;
    font-family: "Merriweather", serif !important;
    font-size: 36px !important;
  }
}

@media screen and (max-width: 623px) {
  .sign-btn > div {
    display: flex;
    width: auto;
    text-align: center;
  }
  .H1text {
    font-size: 36px;
    width: 100%;
  }

  .slideImage {
    max-width: 100%;
  }
}

/* Styles for Responsiveness */

@media (max-width: 1500px) {
  /* Main Container */
  .content-container {
    width: 85%;
  }

  /* Here how its works */
  .tour-title-hidden {
    font-size: 21px !important;
    line-height: normal;
  }
}

@media (max-width: 1180px) {
  /* Main Container */

  .H1text {
    font-size: 42px !important;
  }
  .Ptext {
    font-size: 20px !important;
  }

  .case-study-div .sectionH2 {
    text-align: center;
  }
}

@media (max-width: 1100px) {
  /* Here how its works */
  .tour-title-hidden {
    display: block;
  }
}

@media (max-width: 1180px) {
  /* case study */
  .case-study {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .case-study-div {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  .case-study-button {
    margin: auto;
  }

  .testimonials-div {
    height: 363px;
  }
}

@media (max-width: 850px) {
  .mid-Content {
    flex-direction: column;
  }

  .menu-switch {
    width: auto;
    margin-left: 0px;
  }
  .learn-more {
    flex-direction: row;
  }
  .list-item {
    flex: 1;
    text-align: center;
  }

  /* mid content */

  .menu-switch {
    display: none;
  }
  .menu-switch-mid-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-switch-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-label-mid-screen {
    font-size: 22px;
    font-weight: 700;
    color: #f4364c;
    display: none;
  }
  .menu-switch-mid-screen .learn-more {
    width: 100%;
    margin: 0px;
    border: none;
  }

  .active-text {
    display: block;
  }

  /* banner content */
  .banner-content {
    display: none;
  }
  .content-text {
    text-align: center;
  }

  /* video slider */
  .video-details {
    display: none;
  }
  .video-details-mid-screen {
    display: block;
  }

  .testimonials-div {
    height: 210px;
  }

  .video-dialog {
    width: 98%;
  }

  .video-player-container {
    height: 320px;
    width: 85%;
  }
}

@media (max-width: 650px) {
  .sign-btn > div {
    flex-direction: column;
  }

  /* Main Container */

  .content-container {
    width: 90%;
  }

  .H1text {
    font-size: 36px !important;
  }
  .Ptext {
    font-size: 14px !important;
  }
  .case-study-boxes {
    width: 100%;
    flex-direction: column;
  }
  .case-study > div:first-child {
    width: 520px;
  }
  .case-study-box {
    width: 100%;
    max-width: none;
    margin: 0 !important;
    min-height: auto;
    display: flex;
  }

  .case-study-box > img {
    width: 180px;
    margin-right: 20px;
  }
  .case-study-box:not(:first-child) {
    margin-top: 20px !important;
  }

  .case-study-box > div {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  /* Header */
  .header {
    font-size: 15px;
    height: 45px;
    padding: 5px;
  }

  /* Main Container */

  .content-container {
    font-size: 15px;
  }

  .H1text {
    font-size: 21px !important;
  }
  .Ptext {
    font-size: 14px !important;
  }

  /* Logo text */
  .logo-text {
    display: none;
  }

  .get-started-wrap .sectionH2 {
    font-size: 24px;
  }
  .try-btn .btn {
    width: auto;
    padding: 8px 27px 10px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  /* Main Container */

  .content-container {
    padding-top: 45px;
  }
}

@media (max-width: 450px) {
  .case-study-box {
    display: block;
    text-align: center;
  }
  .case-study-box img {
    width: auto;
  }
}
